*.iml
.idea/modules.xml
.gradle
.idea/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/tocotalk_release_v0.09.apk
app/release/tocotalk_release_v0.1.apk
