<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bclould.tea">

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <service
        android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true"
        tools:ignore="WrongManifestParent" />
    <service
        android:name=".service.LogUpService"
        tools:ignore="WrongManifestParent">
        <intent-filter>
            <action android:name="com.bclould.tea.service" />
        </intent-filter>
    </service>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        <meta-data
            android:name="TencentMapSDK"
            android:value="VKMBZ-GAMWJ-UA5FV-KAXJS-IEHET-QABI7" />

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.bclould.tea.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- APP实现的Receiver，用于接收消息和结果反馈 -->
        <!-- com.tencent.android.xgpushdemo.CustomPushReceiver需要改为自己的Receiver -->
        <receiver android:name=".topperchat.XGReceiver">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 登录页面 -->
        <activity
            android:name=".ui.activity.StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <!-- 主页面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 注册页面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 会话界面 -->
        <activity
            android:name=".ui.activity.ConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.dashiji.biyun"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 系统设置页面 -->
        <activity
            android:name=".ui.activity.SystemSetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 关于我们页面 -->
        <activity
            android:name=".ui.activity.GuanYuMeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 我的资产页面 -->
        <activity
            android:name=".ui.activity.MyAssetsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 公告页面 -->
        <activity
            android:name=".ui.activity.GongGaoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 搜索页面 -->
        <activity
            android:name=".ui.activity.AddFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 收付款页面 -->
        <activity
            android:name=".ui.activity.ReceiptPaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 收付款页面 -->
        <activity
            android:name=".ui.activity.SetMoneyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 充币页面 -->
        <activity
            android:name=".ui.activity.InCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 转账页面 -->
        <activity
            android:name=".ui.activity.TransferAccountsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 期望币种页面 -->
        <activity
            android:name=".ui.activity.ExpectCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 场外交易页面 -->
        <activity
            android:name=".ui.activity.OtcActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 提现页面 -->
        <activity
            android:name=".ui.activity.TiXianActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 银行卡页面 -->
        <activity
            android:name=".ui.activity.BankCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 实名验证页面 -->
        <activity
            android:name=".ui.activity.RealNameC1Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 上传证件页面 -->
        <activity
            android:name=".ui.activity.UpIdCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 银行卡绑定页面 -->
        <activity
            android:name=".ui.activity.BankCardBindingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 银行卡绑定页面2 -->
        <activity
            android:name=".ui.activity.BankCardBindingActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 账单详情页面 -->
        <activity
            android:name=".ui.activity.BillDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 身份验证页面 -->
        <activity
            android:name=".ui.activity.ShenFenVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 个人信息页面 -->
        <activity
            android:name=".ui.activity.PersonalDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 手机绑定页面 -->
        <activity
            android:name=".ui.activity.EmailBindingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 好友资料页面 -->
        <activity
            android:name=".ui.activity.FriendDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 备注页面 -->
        <activity
            android:name=".ui.activity.RemarkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 备注页面 -->
        <activity
            android:name=".ui.activity.LoginSetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发布动态页面 -->
        <activity
            android:name=".ui.activity.PublicshDynamicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 选择国家区号页面 -->
        <activity
            android:name=".ui.activity.SelectorStateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <!-- 二维码页面 -->
        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 地址页面 -->
        <activity
            android:name=".ui.activity.SiteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 昵称页面 -->
        <activity
            android:name=".ui.activity.NickNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 签名页面 -->
        <activity
            android:name=".ui.activity.SignatureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 动态设置页面 -->
        <activity
            android:name=".ui.activity.DynamicSetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 账号安全页面 -->
        <activity
            android:name=".ui.activity.PrivateRightsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 添加好友设置页面 -->
        <activity
            android:name=".ui.activity.AddFriendSetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.LocationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustPan" />

        <!-- 账号安全页面 -->
        <activity
            android:name=".ui.activity.UserSafetyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 设置支付密码页面 -->
        <activity
            android:name=".ui.activity.PayPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 重置登录密码页面 -->
        <activity
            android:name=".ui.activity.LoginPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 功能设置页面 -->


        <!-- 新的好友页面 -->
        <activity
            android:name=".ui.activity.NewFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 验证码页面 -->
        <activity
            android:name=".ui.activity.VerifyCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 来往记录页面 -->
        <activity
            android:name=".ui.activity.DealRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 评论页面 -->
        <activity
            android:name=".ui.activity.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 问题反馈页面 -->
        <activity
            android:name=".ui.activity.ProblemFeedBackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 动态详情页面 -->
        <!--
            <activity
            android:name=".ui.activity.DynamicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        -->


        <!-- 赞页面 -->
        <activity
            android:name=".ui.activity.ZanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 找回密码页面 -->
        <activity
            android:name=".ui.activity.FindPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发布币种挂售 -->
        <activity
            android:name=".ui.activity.PushBuyingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 数字货币转入转入页面 -->
        <activity
            android:name=".ui.activity.OutCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 添加钱包地址 -->
        <activity
            android:name=".ui.activity.OutCoinSiteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 扫描二维码页面 -->
        <activity
            android:name=".ui.activity.ScanQRCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 订阅资产页面 -->
        <activity
            android:name=".ui.activity.SubscribeCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <!-- 添加提币地址 -->
        <activity
            android:name=".ui.activity.AddOutCoinSiteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 谷歌验证页面 -->
        <activity
            android:name=".ui.activity.GoogleVerificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发红包页面 -->
        <activity
            android:name=".ui.activity.SendRedPacketActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 紅包页面 -->
        <activity
            android:name=".ui.activity.RedPacketActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 紅包页面 -->
        <activity
            android:name=".ui.activity.RedPacketRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 紅包页面 -->
        <activity
            android:name=".ui.activity.CreateGroupRoomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 视频播放页面 -->
        <activity
            android:name=".ui.activity.VideoActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentTheme" />

        <!-- 紅包页面 -->
        <activity
            android:name=".ui.activity.GroupListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 紅包页面 -->
        <activity
            android:name=".ui.activity.BuySellActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 聊天查看圖片頁 -->
        <activity
            android:name=".ui.activity.ImageViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 广告交易订单详情页面 -->
        <activity
            android:name=".ui.activity.OrderDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发送二维码红包页面 -->
        <activity
            android:name=".ui.activity.SendQRCodeRedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 二维码红包页面 -->
        <activity
            android:name=".ui.activity.QRCodeRedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 二维码红包页面 -->
        <activity
            android:name=".ui.activity.GrabQRCodeRedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 二维码红包页面 -->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 登录记录页面 -->
        <activity
            android:name=".ui.activity.LoginRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 理财页面 -->
        <activity
            android:name=".ui.activity.FinancingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 典当页面 -->
        <activity
            android:name=".ui.activity.PawnActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 保险页面 -->
        <activity
            android:name=".ui.activity.SafeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 支付记录页面 -->
        <activity
            android:name=".ui.activity.PayRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 扫码支付页面 -->
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发送转账页面 -->
        <activity
            android:name=".ui.activity.ChatTransferActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 发送转账页面 -->
        <activity
            android:name=".ui.activity.TransferDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 币币兑换页面 -->
        <activity
            android:name=".ui.activity.CoinExchangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 问题详情页面 -->


        <!-- 扫码支付完成界面 -->
        <activity
            android:name=".ui.activity.PayReceiptResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 交易关闭界面 -->
        <activity
            android:name=".ui.activity.OrderCloseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 交易記錄詳情界面 -->
        <activity
            android:name=".ui.activity.PayDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 區塊鏈競猜界面 -->
        <activity
            android:name=".ui.activity.BlockchainGambleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 競猜詳情界面 -->
        <activity
            android:name=".ui.activity.GuessDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 競猜記錄界面 -->
        <activity
            android:name=".ui.activity.GuessRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 發起競猜界面 -->
        <activity
            android:name=".ui.activity.StartGuessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 我參與的競猜界面 -->
        <activity
            android:name=".ui.activity.MyJoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 我發起的競猜界面 -->
        <activity
            android:name=".ui.activity.MyStartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 交易关闭界面 -->
        <activity
            android:name=".ui.activity.ServiceAgreementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 我發佈的廣告界面 -->
        <activity
            android:name=".ui.activity.MyPushAdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 新聞詳情頁 -->
        <activity
            android:name=".ui.activity.NewsDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Hash查詢頁 -->
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 新聞管理頁 -->
        <activity
            android:name=".ui.activity.NewsManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 新聞編輯頁 -->
        <activity
            android:name=".ui.activity.NewsEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden" />

        <!-- 公告管理頁 -->
        <activity
            android:name=".ui.activity.GonggaoManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 公告詳情頁 -->
        <activity
            android:name=".ui.activity.GonggaoDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 公告詳情頁 -->
        <activity
            android:name=".ui.activity.SumBuySellActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 動態圖片預覽頁 -->
        <activity
            android:name=".ui.activity.PreviewImgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 個人動態頁 -->
        <activity
            android:name=".ui.activity.PersonageDynamicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 支付密碼管理頁 -->
        <activity
            android:name=".ui.activity.PayPwSelectorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 監聽系統語言切換 -->
        <receiver
            android:name=".utils.LocaleChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- 監聽APK安装广播 -->
        <receiver android:name=".network.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- 會話詳情 -->
        <activity
            android:name=".ui.activity.ConversationDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 個人詳情 -->
        <activity
            android:name=".ui.activity.IndividualDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".service.IMService"
            android:enabled="true" />
        <service
            android:name=".service.IMCoreService"
            android:process=":msgPush" />

        <activity
            android:name=".ui.activity.ConversationRecordFindActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.SelectFriendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".service.ImageUpService"
            android:enabled="true" />

        <activity
            android:name=".ui.activity.HTMLActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.ChatLookLocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.SetGesturePWActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 更新日誌頁 -->
        <activity
            android:name=".ui.activity.UpdateLogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 競猜分享到動態頁 -->
        <activity
            android:name=".ui.activity.GuessShareDynamicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 動態打賞頁 -->
        <activity
            android:name=".ui.activity.RewardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent" />

        <!-- 初始頁 -->
        <activity
            android:name=".ui.activity.InitialActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 注册页面 -->
        <activity
            android:name=".ui.activity.RegisterActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 監聽開機廣播 -->
        <receiver android:name=".topperchat.StartBootBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 群聊房間詳情 -->
        <activity
            android:name=".ui.activity.ConversationGroupDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.ScanQRResultActivty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.bclould.tea.network.https.OkHttpGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activity.ConversationServerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.SelectConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ModificationNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.SelectGroupMemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ui.activity.SendRedGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.GroupMemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.LargerImageActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.SerchImageActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.CropImageActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent" />

        <!-- 版本更新頁 -->
        <activity
            android:name=".ui.activity.VersionsUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".filepicker.YsFilePickerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.FileOpenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.PayOutsideCallsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tocotalk_html"
                    android:scheme="applinks" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReviewListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.CollectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.AddCollectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.QRGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.GroupConfirmActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.UnclaimedRedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <!-- 文件上傳界面 -->
        <activity
            android:name=".ui.activity.FileUploadingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".ui.activity.SelectFriendGetActivity"></activity>
    </application>

</manifest>